body {
  background-color: #648266;
  margin: 0;
}

html {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* HEADER CONTENT STYLES */

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.header-welcome {
  position: relative;
  margin-bottom: 21px;
  /* height: 150px; */
  top: 0;
  width: auto;
}

.header-content img,
.header-content p {
  margin: 15px;
}

.header-content img {
  width: 86px;
  height: 83px;
}

.header-text {
  text-align: center;
}

.main-header-text {
  text-align: center;
}

.welcome-text {
  margin-top: 25px;
  color: white;
  text-align: center;
  font-size: 27px;
}

.intro-text {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.web-name {
  font-weight: bolder;
  /* margin-top: 10px; */
  font-family: "Poppins", sans-serif;
  color: #e3e3ce;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image img {
  min-width: 28%;
  max-width: 28%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* WEBSITE BODY STYLES */

.container {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 100px; */
  margin-bottom: auto;
  align-items: center;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.358); */
}

.register-body {
  display: flex;
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 300px;
  margin-top: 30px;
  color: white;
  background-color: #708e76;
  border-radius: 10px;
  border-color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.register-box h1 {
  margin-left: 20px;
}

.register-box form {
  display: flex;
  flex-direction: column;
}

.register-box label {
  margin-bottom: 10px;
  margin-left: 20px;
}

.register-box input {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-box button {
  padding: 10px 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  background-color: #40513e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alternative {
  justify-content: center;
}

.alternative p {
  font-size: 17;
  color: white;
  font-family: "Poppins", sans-serif;
}

.alternative a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content-body {
  height: 100vh; /* 100vh */
  width: 100vw;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* WEBSITE FOOTER STYLES */
.main-footer {
  width: 100vw;
  /* bottom: 0;
  position: absolute; */
  /* height: 10%;
  z-index: 10; */
}

.menu {
  background-color: #3a4d39;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: none;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.menu-items img {
  width: 10vw;
  height: 100%;
}

.menu-items figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  height: auto;
  /* margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 0px; */
  margin: 10px;
  border-color: none;
}

.menu-items figcaption {
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Login Section */

.login-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
  margin-top: 30px;
  color: white;
  background-color: #708e76;
  border-radius: 10px;
  border-color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.login-box h1 {
  margin-left: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  margin-bottom: 10px;
  margin-left: 20px;
}

.login-box input {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-box button {
  padding: 10px 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  background-color: #40513e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Dashboard */

.dashboard-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

/* Needs adjustment */
.dashboard-content img {
  max-width: 100%;
  width: 85%;
  margin-left: 50px;
  height: auto;
}

.dashboard-content p {
  margin-top: 0px;
  color: white;
  text-align: center;
  letter-spacing: 1;
  font-family: "Poppins", sans-serif;
}

.dashboard-content h4 {
  color: white;
  font-weight: lighter;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

/* Inventory */

#inventory-body a {
  color: #e3e3ce;
  letter-spacing: 1pt;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#inventory-body nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
}

#inventory-body p {
  color: rgba(255, 255, 255, 0.607);
  font-size: 20;
  font-style: italic;
  text-align: center;
  margin-top: 150px;
  margin-bottom: -5px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#inv-main-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.sectionContainer {
  /* height: 530px; */
  height: 100vh;
  /* width: 700px; */
  margin-right: auto;
  margin-left: auto;
}

#chicken-stock {
  width: 200px;
  height: 135px;
  border-radius: 18px;
  border-color: white;
  border-style: groove;
  background-color: #83a186;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-align: center;
  letter-spacing: 0.5pt;
}

#chicken-feeds {
  width: 200px;
  height: 135px;
  border-radius: 18px;
  border-color: white;
  border-style: groove;
  background-color: #83a186;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-align: center;
  letter-spacing: 0.5pt;
}

#main-container-2 {
  display: flex;
  justify-content: center;
  height: auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 1.8;
}

.form-column {
  flex: 1;
  padding: 0 20px;
}

/* .inv-btn-cont {
  justify-content: center;
  display: flex;
  height: 75px;
} */

#chicken-eggs {
  width: 400px;
  height: 230px;
  margin-top: 5px;
  border-radius: 18px;
  border-color: white;
  border-style: groove;
  background-color: #83a186;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  letter-spacing: 0.5pt;
}

.egg-cont {
  margin-left: 20px;
}

.egg-cont h4 {
  text-align: center;
}

/* Inventory - ORDERS */
#inv-order-container {
  width: auto;
  height: auto;
}

#order-list {
  width: 320px;
  height: 90px;
  border-radius: 18px;
  border-color: white;
  border-style: groove;
  background-color: #83a186;
  color: #e3e3ce;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  letter-spacing: 0.5pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
}

.order-info {
  flex: 2 1 auto;
}

.order-info label {
  font-weight: bold;
  margin-left: 20pt;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}

.order-info output {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 15px;
}

#order-list span {
  margin-left: 20pt;
  font-style: italic;
  font-size: 13.5px;
}

#order-quant {
  display: flex;
}

#order-status {
  display: flex;
  flex-direction: column;
}

#stat-condition {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: center;
}

#stat-condition output {
  color: black;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  padding: 4px;
  background-color: #8ed495;
  font-size: 15px;
}

#order-amount {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
  text-align: center;
}

#order-amount output {
  color: black;
  text-align: center;
  font-size: 25;
  font-weight: bold;
  background-color: #8ed495;
  border-radius: 50px;
  padding: 5px;
}

/* Sales */
#sales-body a {
  color: #e3e3ce;
  letter-spacing: 1pt;
  font-size: 16pt;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  text-decoration: none;
  padding-top: 10pt;
  padding-bottom: 10pt;
  padding-left: 60px;
  padding-right: 60px;
}

#sales-body nav {
  height: 55px;
  display: flex;
}

#sales-body p {
  color: rgba(255, 255, 255, 0.607);
  font-size: 20;
  font-style: italic;
  text-align: center;
  margin-top: 150px;
  margin-bottom: -5px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#sales-main-container {
  width: auto;
  height: 500px;
}

#sales-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sales-btn-container img {
  width: fit-content;
  height: 90px;
  margin-left: 350px;
  position: absolute;
  margin-top: -120px;
}

.inv-setting-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e3e3ce;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inv-setting-cont img {
  height: 50px;
}

#sales-list {
  width: 320px;
  height: 90px;
  border-radius: 18px;
  border-color: white;
  border-style: groove;
  background-color: #83a186;
  color: #e3e3ce;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  letter-spacing: 0.5pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
}

#sales-list h4 {
  margin-bottom: 5pt;
  margin-top: 15pt;
  margin-left: 20pt;
  font-size: 22;
}

#sales-list span {
  margin-left: 20pt;
  font-style: italic;
}

#sales-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20;
  margin-left: 50px;
  border-radius: 50px;
  padding: 25px;
  background-color: #8ed495;
  color: black;
  border-color: white;
}

#sales-amount span {
  margin: 0;
  font-style: normal;
}

.body-list-container {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .body-list-container {
    max-height: 83vh;
  }
}

/* ----------------------- */

/*---------------- NEEDS EDITING -------------------*/
/* Styles for screens smaller than   600px */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .main-header-text {
    font-size: 22px;
  }

  #inventory-body a {
    font-size: 18px;
  }
}

/* Styles for screens between   600px and   900px */
@media (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 18px;
  }

  .main-header-text {
    font-size: 26px;
  }

  #inventory-body a {
    font-size: 18px;
  }
}

/* Styles for screens larger than   900px */
@media (min-width: 900px) {
  body {
    font-size: 18px;
  }

  .main-header-text {
    font-size: 28px;
  }

  #inventory-body a {
    font-size: 24px;
  }
}
/* -------------------------------------------------- */
