.invRadioBtn {
  background-color: white;
  color: black;
  max-width: 200px;
  border-radius: 10px;
  margin-left: 5px;
}

.invRadioBtn div {
  padding: 5px;
}

.invRadioBtn div:hover {
  background-color: #f1f1f182;
}

.invRadioBtn input {
  margin-bottom: 5px;
  padding: 0;
  margin-right: 5px;
}

.invRadioBtn label {
  margin-left: 10px;
}

.invRadioBtn input[type="radio"]:checked + label {
  color: white;
}

.eggInptBtn {
  font-family: Poppins, sans-serif;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 15px;
}

.eggInptBtn button {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  background-color: #83a186;
  color: white;
  border-color: transparent;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 115px;
}

.eggInptBtn {
  border-color: white;
  background-color: #3a4d39;
  border-radius: 10px;
  margin-bottom: 10px;
}

.eggInptBtn h4 {
  text-align: center;
}

.egg-rows {
  display: flex;
}

.egg-col-1 {
  display: block;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

.egg-col-2 {
  display: block;
  margin-right: 20px;
  width: 50%;
  text-align: right;
}

.egg-rows input {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.colDate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.eggInptBtn {
  transform: translateY(1%);
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.eggInptBtn.show {
  transform: translateY(0);
  opacity: 1;
}
